<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AGILE-IDM</title>
<link href="/static/css/style.css" rel="stylesheet">
</head>
<body onload="addListeners()">
<div id="content" >
	<div id="logo">
  </div>
	<div id="info">
		<header><h1>Error</h1></header>
	    <p><%= error %></p>
      <a href="javascript:window.history.back();">Go back</a>
 		<div id="resultDivContainer" ></div>
</div>
</div>
</body>
</html>
