<form method="post">
	<div>
		<h2 align="center" style="color: DarkBlue;">Authenticating user with <%= auth_type %></h2>

	</div>
	<div align="center">
	<% for(var i=0; i<fields.length; i++) { %>
    <label><%= fields[i].label %></label>

		<input type="<%= fields[i].type %>" name="<%= fields[i].name %>"/><br/>

	<% } %>
	<input type="submit" value="Submit" />
	</div>
</form>
