
/* style and color for uaa navigation*/
div {
	text-align : center;
}


html,body {
	height: 99%;
	width: 100%
}

h1 {
	font-size: 1.5em;
	text-align: center;
  color: DarkBlue;
}

h2 {
	font-size: 1em;
	text-align: center;
  color: blue;
}

#content {
	position : static;
}

#logo {
 float:left;
 width:150px;
 height:120px;
 background-image:url('/static/img/logo.png');

}
